*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f6f9;
    color:#333;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    width:80%;
    margin:auto;
    padding:40px 0;
}

h2{
    color:#0d6efd;
    margin-bottom:20px;
}

p{
    line-height:1.8;
}

button{
    margin-top:20px;
    padding:12px 25px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#084298;
}

ul{
    margin-left:25px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
